In [707]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import rasterio

In [708]:
missing__data = df_cleaned_data[df_cleaned_data['Access to clean fuels for cooking'].isnull()]


# Display the rows with missing data
print("Rows with missing fossil fuel data:")
display(missing__data[['Entity', 'Year', 'Access to clean fuels for cooking']])

df_cleaned_data['Access to clean fuels for cooking'] = df_cleaned_data['Access to clean fuels for cooking'].fillna(0)

print(df_cleaned_data['Access to clean fuels for cooking'].isnull().sum())

Rows with missing fossil fuel data:

Empty DataFrame
Columns: [Entity, Year, Access to clean fuels for cooking]
Index: []

0

In [709]:

# Identify countries where all GDP per capita data is missing
countries_with_no_gdp = df_cleaned_data.groupby('Entity')['gdp_per_capita'].transform(lambda x: x.isnull().all())

# Replace GDP per capita with 0 for countries that have no GDP data at all
df_cleaned_data.loc[countries_with_no_gdp, 'gdp_per_capita'] = 0

# Replace remaining missing GDP per capita values with the mean GDP per capita for each country
mean_gdp_per_capita = df_cleaned_data.groupby('Entity')['gdp_per_capita'].transform('mean')
df_cleaned_data['gdp_per_capita'] = df_cleaned_data['gdp_per_capita'].fillna(mean_gdp_per_capita)

# Verify that missing values have been replaced
print("Remaining missing GDP per capita values:", df_cleaned_data['gdp_per_capita'].isnull().sum())

# Optional: Display updated rows
print("Updated GDP per capita data:")
display(df_cleaned_data[['Entity', 'Year', 'gdp_per_capita']])

Remaining missing GDP per capita values: 0
Updated GDP per capita data:

           Entity  Year  gdp_per_capita
0     Afghanistan  2000      439.055765
1     Afghanistan  2001      439.055765
2     Afghanistan  2002      179.426579
3     Afghanistan  2003      190.683814
4     Afghanistan  2004      211.382074
...           ...   ...             ...
3644     Zimbabwe  2016     1464.588957
3645     Zimbabwe  2017     1235.189032
3646     Zimbabwe  2018     1254.642265
3647     Zimbabwe  2019     1316.740657
3648     Zimbabwe  2020     1214.509820

[3648 rows x 3 columns]

In [710]:

# Identify countries where all GDP per capita data is missing
countries_with_no_gdp = df_cleaned_data.groupby('Entity')['gdp_per_capita'].transform(lambda x: x.isnull().all())

# Replace GDP per capita with 0 for countries that have no GDP data at all
df_cleaned_data.loc[countries_with_no_gdp, 'gdp_per_capita'] = 0

# Replace remaining missing GDP per capita values with the mean GDP per capita for each country
mean_gdp_per_capita = df_cleaned_data.groupby('Entity')['gdp_per_capita'].transform('mean')
df_cleaned_data['gdp_per_capita'] = df_cleaned_data['gdp_per_capita'].fillna(mean_gdp_per_capita)

# Verify that missing values have been replaced
print("Remaining missing GDP per capita values:", df_cleaned_data['gdp_per_capita'].isnull().sum())

# Optional: Display updated rows
print("Updated GDP per capita data:")
display(df_cleaned_data[['Entity', 'Year', 'gdp_per_capita']])

Remaining missing GDP per capita values: 0
Updated GDP per capita data:

           Entity  Year  gdp_per_capita
0     Afghanistan  2000      439.055765
1     Afghanistan  2001      439.055765
2     Afghanistan  2002      179.426579
3     Afghanistan  2003      190.683814
4     Afghanistan  2004      211.382074
...           ...   ...             ...
3644     Zimbabwe  2016     1464.588957
3645     Zimbabwe  2017     1235.189032
3646     Zimbabwe  2018     1254.642265
3647     Zimbabwe  2019     1316.740657
3648     Zimbabwe  2020     1214.509820

[3648 rows x 3 columns]

In [711]:

# Identify countries where all GDP per capita data is missing
countries_with_no_gdp = df_cleaned_data.groupby('Entity')['gdp_growth'].transform(lambda x: x.isnull().all())

# Replace GDP per capita with 0 for countries that have no GDP data at all
df_cleaned_data.loc[countries_with_no_gdp, 'gdp_growth'] = 0

# Replace remaining missing GDP per capita values with the mean GDP per capita for each country
mean_gdp_growth = df_cleaned_data.groupby('Entity')['gdp_growth'].transform('mean')
df_cleaned_data['gdp_growth'] = df_cleaned_data['gdp_growth'].fillna(mean_gdp_growth)

# Verify that missing values have been replaced
print("Remaining missing GDP per capita values:", df_cleaned_data['gdp_growth'].isnull().sum())

# Optional: Display updated rows
print("Updated GDP per capita data:")
display(df_cleaned_data[['Entity', 'Year', 'gdp_growth']])

Remaining missing GDP per capita values: 0
Updated GDP per capita data:

           Entity  Year  gdp_growth
0     Afghanistan  2000    6.163893
1     Afghanistan  2001    6.163893
2     Afghanistan  2002    6.163893
3     Afghanistan  2003    8.832278
4     Afghanistan  2004    1.414118
...           ...   ...         ...
3644     Zimbabwe  2016    0.755869
3645     Zimbabwe  2017    4.709492
3646     Zimbabwe  2018    4.824211
3647     Zimbabwe  2019   -6.144236
3648     Zimbabwe  2020   -6.248748

[3648 rows x 3 columns]

In [712]:
# Identify countries where all GDP per capita data is missing
countries_with_no_gdp = df_cleaned_data.groupby('Entity')['Renewable energy share in the total final energy consumption (%)'].transform(lambda x: x.isnull().all())

# Replace GDP per capita with 0 for countries that have no GDP data at all
df_cleaned_data.loc[countries_with_no_gdp, 'Renewable energy share in the total final energy consumption (%)'] = 0

# Replace remaining missing GDP per capita values with the mean GDP per capita for each country
mean_gdp_growth = df_cleaned_data.groupby('Entity')['Renewable energy share in the total final energy consumption (%)'].transform('mean')
df_cleaned_data['Renewable energy share in the total final energy consumption (%)'] = df_cleaned_data['Renewable energy share in the total final energy consumption (%)'].fillna(mean_gdp_growth)

# Verify that missing values have been replaced
print("Remaining missing GDP per capita values:", df_cleaned_data['Renewable energy share in the total final energy consumption (%)'].isnull().sum())

# Optional: Display updated rows
print("Updated GDP per capita data:")
display(df_cleaned_data[['Entity', 'Year', 'Renewable energy share in the total final energy consumption (%)']])

Remaining missing GDP per capita values: 0
Updated GDP per capita data:

,Entity,Year,Renewable energy share in the total final energy consumption (%)
0,Afghanistan,2000,44.99
1,Afghanistan,2001,45.60
2,Afghanistan,2002,37.83
3,Afghanistan,2003,36.66
4,Afghanistan,2004,44.24
...,...,...,...
3644,Zimbabwe,2016,81.90
3645,Zimbabwe,2017,82.46
3646,Zimbabwe,2018,80.23
3647,Zimbabwe,2019,81.50
3648,Zimbabwe,2020,81.90

In [713]:
#missing__data = df_cleaned_data[df_cleaned_data['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].isnull()]


# Display the rows with missing data
#print("Rows with missing fossil fuel data:")
#with pd.option_context('display.max_colwidth', None,
#                       'display.max_columns', None,
#                       'display.max_rows', None):
#    display(missing__data[['Entity', 'Year', 'Energy intensity level of primary energy (MJ/$2017 PPP GDP)']])

#df_cleaned_data['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'] = df_cleaned_data['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].fillna(0)

#print(df_cleaned_data['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].isnull().sum())

In [714]:
with pd.option_context('display.max_colwidth', None,
                       'display.max_columns', None,
                     'display.max_rows', None):
    print(df_cleaned_data['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].value_counts())

Energy intensity level of primary energy (MJ/$2017 PPP GDP)
5.150000     15
3.070000     15
3.860000     14
3.180000     14
2.970000     14
4.280000     13
2.680000     13
2.640000     12
3.880000     12
3.870000     12
3.470000     12
3.270000     12
3.570000     12
3.590000     12
3.970000     12
3.440000     12
3.900000     12
3.980000     12
3.890000     12
3.800000     12
5.660000     11
2.940000     11
3.330000     11
3.030000     11
2.480000     11
3.550000     11
3.120000     11
3.060000     11
2.530000     11
4.470000     11
5.000000     11
3.310000     11
5.280000     11
2.890000     11
2.830000     10
3.660000     10
3.390000     10
4.300000     10
5.100000     10
3.360000     10
3.680000     10
3.490000     10
2.580000     10
2.880000     10
3.400000     10
3.850000     10
4.010000     10
2.500000     10
3.340000     10
5.230000     10
2.860000     10
2.710000     10
2.610000     10
2.440000     10
3.130000     10
3.480000     10
5.390000     10
2.570000     10
3.820000     10
3.750000      9
5.030000      9
2.980000      9
5.760000      9
4.130000      9
2.960000      9
4.610000      9
3.350000      9
3.580000      9
3.010000      9
2.750000      9
5.930000      9
3.650000      9
3.840000      9
4.170000      9
4.500000      9
4.360000      9
2.540000      9
3.100000      9
3.530000      9
2.660000      9
3.620000      9
3.380000      9
3.240000      9
3.560000      9
3.050000      9
2.780000      9
2.620000      9
2.930000      9
2.670000      9
4.480000      8
3.080000      8
3.630000      8
4.120000      8
4.040000      8
2.650000      8
2.690000      8
3.670000      8
3.230000      8
3.220000      8
3.320000      8
3.200000      8
4.820000      8
3.160000      8
4.400000      8
5.680000      8
3.710000      8
3.000000      8
4.050000      8
3.260000      8
2.250000      7
2.920000      7
3.090000      7
5.670000      7
3.280000      7
2.990000      7
5.540000      7
5.400000      7
4.900000      7
2.910000      7
4.730000      7
4.450000      7
6.220000      7
2.510000      7
3.300000      7
2.560000      7
4.520000      7
4.020000      7
4.350000      7
4.700000      7
3.600000      7
3.910000      7
2.360000      7
2.770000      7
3.770000      7
3.720000      7
4.680000      7
4.510000      7
3.950000      7
4.590000      7
4.740000      7
5.780000      7
3.640000      7
5.560000      7
5.310000      7
4.140000      7
2.550000      7
4.080000      7
4.930000      7
5.050000      7
2.600000      7
2.230000      7
2.190000      7
3.170000      7
4.370000      7
2.790000      7
3.190000      7
3.460000      7
3.690000      7
3.420000      7
3.040000      7
2.900000      7
2.450000      7
5.850000      6
3.020000      6
5.590000      6
3.990000      6
3.450000      6
3.700000      6
2.700000      6
2.000000      6
5.320000      6
4.210000      6
5.180000      6
4.760000      6
4.720000      6
5.070000      6
2.630000      6
3.210000      6
2.730000      6
3.830000      6
4.530000      6
3.810000      6
2.720000      6
5.530000      6
5.510000      6
4.710000      6
4.770000      6
5.380000      6
4.790000      6
4.650000      6
3.500000      6
4.880000      6
2.850000      6
5.120000      6
2.300000      6
2.950000      6
5.080000      6
4.030000      6
3.780000      6
5.450000      6
4.390000      6
5.520000      6
3.290000      6
4.780000      6
2.820000      6
4.110000      6
3.920000      6
4.620000      6
4.000000      6
3.250000      6
3.110000      6
2.760000      6
5.570000      6
5.600000      6
5.550000      6
4.800000      6
3.930000      6
5.880000      6
6.160000      6
4.190000      6
5.490000      5
3.610000      5
7.010000      5
4.580000      5
2.160000      5
6.080000      5
4.430000      5
4.230000      5
5.300000      5
4.870000      5
2.840000      5
4.570000      5
5.810000      5
4.892999      5
4.440000      5
3.730000      5
2.150000      5
4.990000      5
2.270000      5
5.110000      5
5.580000      5
2.590000      5
2.870000      5
2.400000      5
4.550000      5
4.490000      5
2.210000      5
3.430000      5
1.220642      5
4.150000      5
3.410000      5
4.200000      5
5.130000      5
3.140000      5
4.670000      5
2.800000      5
6.540000      5
5.200000      5
5.720000      5
5.480000      5
4.600000      5
3.790000      5
4.250000      5
3.510000      5
3.940000      5
6.310000      5
6.510000      5
6.830000      5
5.910000      5
6.030000      5
5.790000      5
5.690000      5
5.710000      5
5.610000      5
5.820000      5
6.000000      5
5.340000      5
5.800000      5
3.067611      5
3.960000      5
2.370000      4
1.740000      4
5.190000      4
4.160000      4
4.420000      4
7.880000      4
5.260000      4
4.410000      4
4.090000      4
5.370000      4
0.180000      4
2.810000      4
6.040000      4
5.980000      4
4.540000      4
5.890000      4
5.650000      4
6.370000      4
1.870000      4
4.240000      4
4.940000      4
6.730000      4
8.410000      4
7.910000      4
5.140000      4
4.910000      4
6.320000      4
5.840000      4
4.840000      4
8.120000      4
3.740000      4
6.120000      4
4.340000      4
3.150000      4
4.380000      4
6.390000      4
4.270000      4
5.970000      4
4.810000      4
7.110000      4
5.020000      4
5.060000      4
1.510000      4
7.860000      4
2.410000      4
4.460000      4
5.830000      4
6.790000      4
1.540000      4
4.060000      4
4.260000      4
2.330000      4
1.930000      4
7.420000      4
7.510000      4
7.050000      4
5.700000      4
1.850000      4
2.470000      4
4.690000      4
5.770000      4
3.760000      4
2.390000      4
5.640000      4
5.420000      4
5.730000      4
9.050000      4
6.290000      4
2.290000      4
3.540000      4
2.140000      4
2.200000      4
2.110000      4
5.410000      4
5.860000      4
6.060000      4
2.460000      3
4.850000      3
6.570000      3
8.720000      3
6.130000      3
6.350000      3
6.480000      3
6.020000      3
5.990000      3
6.820000      3
2.520000      3
7.750000      3
8.900000      3
11.740000     3
8.200000      3
4.100000      3
9.480000      3
8.700000      3
7.580000      3
10.070000     3
10.520000     3
5.210000      3
8.030000      3
6.230000      3
2.060000      3
7.710000      3
2.350000      3
7.550000      3
2.010000      3
2.050000      3
4.320000      3
2.380000      3
8.830000      3
11.790000     3
2.020000      3
5.630000      3
2.420000      3
4.920000      3
5.750000      3
6.750000      3
6.330000      3
11.050000     3
6.700000      3
13.590000     3
7.310000      3
6.780000      3
5.470000      3
5.040000      3
6.600000      3
6.710000      3
8.500000      3
8.930000      3
10.480000     3
5.170000      3
10.360000     3
8.770000      3
1.910000      3
7.160000      3
6.140000      3
6.180000      3
7.370000      3
4.330000      3
4.960000      3
5.330000      3
7.210000      3
5.430000      3
5.290000      3
8.560000      3
5.240000      3
7.330000      3
2.740000      3
6.950000      3
3.370000      3
6.770000      3
7.970000      3
6.170000      3
1.520000      3
7.230000      3
9.510000      3
1.970000      3
6.050000      3
6.110000      3
5.360000      3
1.940000      3
4.180000      3
4.070000      3
13.610000     2
10.690000     2
10.110000     2
9.470000      2
1.770000      2
1.950000      2
1.830000      2
1.450000      2
4.660000      2
5.090000      2
6.610000      2
6.720000      2
4.860000      2
7.890000      2
8.160000      2
15.700000     2
13.090000     2
6.740000      2
6.580000      2
15.730000     2
14.940000     2
4.290000      2
11.820000     2
7.820000      2
11.510000     2
11.470000     2
6.190000      2
9.060000      2
6.460000      2
9.880000      2
9.960000      2
8.020000      2
2.280000      2
3.516500      2
6.640000      2
6.980000      2
7.940000      2
5.940000      2
7.190000      2
6.860000      2
1.420000      2
1.660000      2
12.070000     2
6.420000      2
11.690000     2
15.780000     2
10.120000     2
8.210000      2
6.560000      2
9.300000      2
8.800000      2
7.590000      2
6.890000      2
6.760000      2
6.680000      2
6.250000      2
8.330000      2
8.730000      2
9.830000      2
10.310000     2
6.990000      2
6.910000      2
7.100000      2
7.170000      2
8.250000      2
7.440000      2
7.090000      2
8.520000      2
4.560000      2
6.400000      2
6.070000      2
9.740000      2
7.290000      2
7.060000      2
11.500000     2
9.240000      2
8.440000      2
8.400000      2
9.420000      2
8.070000      2
7.790000      2
1.580000      2
10.010000     2
10.470000     2
5.960000      2
3.520000      2
13.910000     2
9.230000      2
4.630000      2
10.400000     2
9.160000      2
5.620000      2
4.890000      2
4.830000      2
2.180000      2
10.430000     2
10.410000     2
10.300000     2
2.100000      2
2.080000      2
9.310000      2
6.100000      2
7.560000      2
7.620000      2
6.690000      2
8.450000      2
7.930000      2
7.410000      2
7.080000      2
7.380000      2
1.900000      2
7.730000      2
7.650000      2
1.800000      2
1.750000      2
1.690000      2
2.120000      2
2.320000      2
11.300000     2
6.800000      2
4.970000      2
9.840000      2
8.910000      2
1.570000      2
1.370000      2
2.090000      2
4.310000      2
6.550000      2
2.340000      2
11.390000     2
9.320000      2
8.630000      2
6.260000      2
6.840000      2
6.670000      2
7.070000      2
5.900000      2
6.660000      2
6.590000      2
6.650000      2
6.280000      2
9.770000      2
9.150000      2
8.140000      2
10.240000     2
11.900000     2
5.920000      2
5.440000      2
11.610000     2
11.950000     2
8.280000      2
6.210000      2
5.270000      2
9.380000      2
11.320000     2
0.230000      2
0.220000      2
0.470000      2
5.460000      2
0.210000      2
13.330000     2
12.310000     2
4.980000      2
6.490000      2
11.130000     2
8.550000      2
7.810000      2
4.220000      2
5.740000      2
2.490000      2
5.950000      2
5.500000      2
6.300000      2
18.240000     2
19.930000     2
11.190000     2
10.190000     2
1.500000      2
1.410000      2
1.200000      2
7.530000      2
1.400000      2
10.420000     2
12.770000     2
2.240000      2
1.640000      2
10.000000     2
1.530000      1
2.039000      1
3.177500      1
28.200000     1
27.360000     1
27.270000     1
25.320000     1
23.290000     1
10.160000     1
10.170000     1
9.980000      1
11.343500     1
14.480000     1
13.190000     1
11.860000     1
11.440000     1
13.080000     1
12.600000     1
11.890000     1
11.520000     1
11.010000     1
10.760000     1
10.340000     1
10.280000     1
12.870000     1
21.226500     1
3.519500      1
4.498500      1
2.896500      1
13.370000     1
13.970000     1
13.360000     1
21.670000     1
20.550000     1
19.150000     1
17.830000     1
16.500000     1
16.000000     1
15.040000     1
14.130000     1
1.250000      1
1.260000      1
1.820000      1
1.440000      1
2.575000      1
5.202373      1
5.012198      1
4.909889      1
7.220000      1
6.322500      1
3.150500      1
4.177000      1
3.496000      1
3.236500      1
3.653000      1
1.030000      1
14.084500     1
2.438000      1
7.020000      1
6.410000      1
6.004000      1
3.955000      1
8.680000      1
9.090000      1
16.970000     1
14.650000     1
13.850000     1
12.650000     1
11.800000     1
10.510000     1
9.940000      1
9.210000      1
3.358500      1
3.718000      1
2.565000      1
4.195500      1
9.110000      1
8.430000      1
8.230000      1
7.540000      1
3.248000      1
5.443000      1
2.655000      1
2.170000      1
1.890000      1
4.167500      1
2.917000      1
2.785500      1
4.705405      1
4.808555      1
4.868904      1
4.741397      1
4.828972      1
7.950000      1
7.830000      1
6.880000      1
5.401414      1
4.939409      1
4.934521      1
4.539425      1
4.622241      1
4.820060      1
4.965970      1
4.987259      1
10.442000     1
4.821500      1
5.870000      1
5.691500      1
4.853000      1
4.362000      1
11.180000     1
10.650000     1
1.610000      1
1.270000      1
2.035000      1
10.140000     1
9.950000      1
9.690000      1
9.330000      1
8.590000      1
10.490000     1
3.813500      1
1.980000      1
2.405500      1
3.716500      1
1.790000      1
1.730000      1
1.600000      1
7.390000      1
6.930000      1
7.348000      1
11.430000     1
11.700000     1
11.200000     1
10.950000     1
10.800000     1
14.520000     1
15.020000     1
15.240000     1
15.200000     1
14.890000     1
13.580000     1
12.180000     1
12.780000     1
9.120000      1
8.390000      1
7.903500      1
4.675500      1
3.781500      1
10.850000     1
10.670000     1
12.920000     1
7.690000      1
8.833500      1
2.569500      1
2.776000      1
7.740000      1
7.470000      1
9.550000      1
9.400000      1
9.570000      1
10.830000     1
10.720000     1
9.810000      1
9.180000      1
8.950000      1
8.750000      1
8.050000      1
4.022000      1
8.660000      1
8.510000      1
8.420000      1
6.270000      1
8.026000      1
6.150000      1
5.874000      1
1.960000      1
1.840000      1
1.939000      1
7.770000      1
8.500500      1
5.074500      1
9.040000      1
4.128500      1
3.411000      1
2.782000      1
4.742000      1
8.890000      1
8.460000      1
7.030000      1
6.940000      1
7.725500      1
12.270000     1
12.510000     1
5.306500      1
4.203500      1
8.100000      1
5.310500      1
1.320000      1
2.275000      1
5.873000      1
3.988500      1
2.260000      1
3.195000      1
13.950000     1
12.000000     1
12.050000     1
11.620000     1
11.476500     1
6.900000      1
6.315000      1
3.896500      1
9.340000      1
6.671500      1
6.440000      1
7.250000      1
5.058000      1
10.370000     1
10.050000     1
9.660000      1
9.410000      1
8.300000      1
8.060000      1
8.220000      1
6.470000      1
6.135000      1
7.360000      1
7.300000      1
7.180000      1
7.400000      1
7.680000      1
6.541000      1
4.566000      1
3.075500      1
6.340000      1
6.531000      1
5.606000      1
1.480000      1
1.560000      1
1.670000      1
13.920000     1
13.660000     1
14.330000     1
13.280000     1
6.090000      1
13.760000     1
10.840000     1
7.669500      1
15.820000     1
15.190000     1
14.180000     1
13.470000     1
13.520000     1
12.690000     1
12.610000     1
13.000000     1
11.400000     1
11.070000     1
8.380000      1
8.080000      1
10.804500     1
10.090000     1
10.250000     1
15.370000     1
2.629000      1
3.612500      1
9.250000      1
8.840000      1
7.688000      1
3.961538      1
3.466000      1
26.910000     1
2.070000      1
2.213500      1
4.928500      1
1.350000      1
1.360000      1
2.398500      1
2.722000      1
2.130000      1
14.960000     1
14.150000     1
12.990000     1
11.120000     1
4.587500      1
5.678000      1
4.259000      1
5.226000      1
1.210000      1
1.080000      1
1.590000      1
1.650000      1
1.552500      1
18.420000     1
17.290000     1
15.990000     1
11.930000     1
16.922000     1
7.520000      1
6.630000      1
5.316500      1
3.543500      1
17.390000     1
17.100000     1
14.490000     1
14.820000     1
12.660000     1
14.750000     1
13.900000     1
13.400000     1
12.960000     1
12.700000     1
10.660000     1
7.720000      1
7.240000      1
8.336000      1
5.010000      1
21.440000     1
20.210000     1
15.170000     1
25.240000     1
23.750000     1
23.380000     1
22.440000     1
4.074000      1
12.850000     1
12.330000     1
11.960000     1
5.105500      1
2.030000      1
1.630000      1
1.490000      1
1.390000      1
1.841500      1
6.061500      1
3.278000      1
6.430000      1
6.360000      1
7.319000      1
4.487500      1
4.049500      1
7.660000      1
6.835500      1
5.350000      1
4.620500      1
5.160000      1
4.773000      1
5.411500      1
9.860000      1
8.810000      1
8.600000      1
7.990000      1
16.110000     1
15.320000     1
10.220000     1
12.410000     1
9.100000      1
10.141000     1
6.067500      1
3.762500      1
0.490000      1
0.530000      1
0.420000      1
0.550000      1
0.630000      1
0.315000      1
8.920000      1
9.490000      1
5.230500      1
3.166000      1
14.460000     1
4.672500      1
3.013500      1
0.110000      1
0.200000      1
0.390000      1
8.620000      1
8.270000      1
9.582500      1
2.865000      1
9.280000      1
6.834500      1
2.312500      1
10.450000     1
2.734500      1
3.376000      1
10.550000     1
10.350000     1
9.700000      1
9.590000      1
8.640000      1
9.540000      1
2.310000      1
3.003500      1
8.610000      1
7.600000      1
5.964000      1
4.508500      1
8.150000      1
7.320000      1
5.455000      1
4.042000      1
6.530000      1
5.802308      1
3.131500      1
12.140000     1
8.490000      1
7.247000      1
5.594500      1
2.801000      1
3.028500      1
2.430000      1
2.731000      1
4.101500      1
4.640000      1
4.013000      1
9.990000      1
9.190000      1
6.380000      1
6.970000      1
7.638500      1
3.783000      1
7.800000      1
6.200000      1
7.130000      1
5.704000      1
3.385500      1
4.721500      1
1.720000      1
1.700000      1
1.680000      1
2.117000      1
1.298349      1
1.086098      1
3.178000      1
1.810000      1
1.760000      1
1.780000      1
2.352000      1
7.840000      1
11.730000     1
11.640000     1
11.606500     1
8.670000      1
9.030000      1
9.010000      1
8.720500      1
1.277480      1
6.229000      1
11.220000     1
11.480000     1
11.600000     1
11.530000     1
11.870000     1
11.680000     1
11.350000     1
12.500000     1
11.060000     1
9.170000      1
9.360000      1
8.260000      1
8.480000      1
10.473500     1
2.992500      1
6.324000      1
4.950000      1
5.002500      1
10.560000     1
10.440000     1
11.250000     1
10.940000     1
13.270000     1
15.960000     1
16.210000     1
15.620000     1
10.577000     1
3.624000      1
3.497500      1
8.180000      1
7.500000      1
10.920000     1
4.396500      1
14.380000     1
15.550000     1
14.760000     1
14.930000     1
14.770000     1
14.360000     1
20.250000     1
27.140000     1
32.570000     1
28.090000     1
26.150000     1
23.340000     1
25.060000     1
20.740000     1
19.210000     1
19.340000     1
19.900000     1
20.374500     1
3.997500      1
2.900500      1
29.850000     1
24.270000     1
19.970000     1
20.970000     1
21.600000     1
21.570000     1
20.900000     1
20.320000     1
20.980000     1
18.480000     1
19.470000     1
20.760000     1
20.780000     1
20.450000     1
19.360000     1
21.260000     1
20.950000     1
21.290000     1
13.240000     1
14.090000     1
14.400000     1
16.340000     1
15.000000     1
12.710000     1
11.770000     1
20.580000     1
10.180000     1
8.470000      1
7.850000      1
7.490000      1
7.450000      1
7.350000      1
9.181500      1
9.390000      1
6.500000      1
5.540500      1
2.688000      1
12.490000     1
12.290000     1
11.810000     1
11.290000     1
10.810000     1
10.230000     1
9.780000      1
9.200000      1
10.260000     1
8.980000      1
8.290000      1
4.902500      1
3.171000      1
2.050356      1
6.232000      1
5.220000      1
5.327500      1
21.380000     1
20.520000     1
20.820000     1
21.970000     1
3.133247      1
3.176676      1
3.380211      1
3.165451      1
3.161177      1
2.790347      1
3.693557      1
3.211405      1
15.948500     1
2.823132      1
3.016477      1
2.811401      1
3.010832      1
3.160727      1
3.188304      1
3.308474      1
19.780000     1
17.640000     1
16.650000     1
14.070000     1
14.220000     1
11.040000     1
10.150000     1
8.370000      1
Name: count, dtype: int64

In [715]:


# Identify countries where all GDP per capita data is missing
countries_with_no_gdp = df_cleaned_data.groupby('Entity')['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].transform(lambda x: x.isnull().all())

# Replace GDP per capita with 0 for countries that have no GDP data at all
df_cleaned_data.loc[countries_with_no_gdp, 'Energy intensity level of primary energy (MJ/$2017 PPP GDP)'] = 0

# Replace remaining missing GDP per capita values with the mean GDP per capita for each country
mean_gdp_growth = df_cleaned_data.groupby('Entity')['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].transform('mean')
df_cleaned_data['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'] = df_cleaned_data['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].fillna(mean_gdp_growth)

# Verify that missing values have been replaced
print("Remaining missing GDP per capita values:", df_cleaned_data['Energy intensity level of primary energy (MJ/$2017 PPP GDP)'].isnull().sum())

# Optional: Display updated rows
print("Updated GDP per capita data:")
display(df_cleaned_data[['Entity', 'Year', 'Energy intensity level of primary energy (MJ/$2017 PPP GDP)']])

Remaining missing GDP per capita values: 0
Updated GDP per capita data:

,Entity,Year,Energy intensity level of primary energy (MJ/$2017 PPP GDP)
0,Afghanistan,2000,1.64
1,Afghanistan,2001,1.74
2,Afghanistan,2002,1.40
3,Afghanistan,2003,1.40
4,Afghanistan,2004,1.20
...,...,...,...
3644,Zimbabwe,2016,10.00
3645,Zimbabwe,2017,9.51
3646,Zimbabwe,2018,9.83
3647,Zimbabwe,2019,10.47
3648,Zimbabwe,2020,10.00

In [716]:


# Identify countries where all GDP per capita data is missing
countries_with_no_gdp = df_cleaned_data.groupby('Entity')['Value_co2_emissions_kt_by_country'].transform(lambda x: x.isnull().all())

# Replace GDP per capita with 0 for countries that have no GDP data at all
df_cleaned_data.loc[countries_with_no_gdp, 'Value_co2_emissions_kt_by_country'] = 0

# Replace remaining missing GDP per capita values with the mean GDP per capita for each country
mean_gdp_growth = df_cleaned_data.groupby('Entity')['Value_co2_emissions_kt_by_country'].transform('mean')
df_cleaned_data['Value_co2_emissions_kt_by_country'] = df_cleaned_data['Value_co2_emissions_kt_by_country'].fillna(mean_gdp_growth)

# Verify that missing values have been replaced
print("Remaining missing GDP per capita values:", df_cleaned_data['Value_co2_emissions_kt_by_country'].isnull().sum())

# Optional: Display updated rows
print("Updated GDP per capita data:")
display(df_cleaned_data[['Entity', 'Year', 'Value_co2_emissions_kt_by_country']])

Remaining missing GDP per capita values: 0
Updated GDP per capita data:

           Entity  Year  Value_co2_emissions_kt_by_country
0     Afghanistan  2000                         760.000000
1     Afghanistan  2001                         730.000000
2     Afghanistan  2002                        1029.999971
3     Afghanistan  2003                        1220.000029
4     Afghanistan  2004                        1029.999971
...           ...   ...                                ...
3644     Zimbabwe  2016                       11020.000460
3645     Zimbabwe  2017                       10340.000150
3646     Zimbabwe  2018                       12380.000110
3647     Zimbabwe  2019                       11760.000230
3648     Zimbabwe  2020                       11040.000110

[3648 rows x 3 columns]

In [717]:


# Identify countries where all GDP per capita data is missing
countries_with_no_gdp = df_cleaned_data.groupby('Entity')['Renewable-electricity-generating-capacity-per-capita'].transform(lambda x: x.isnull().all())

# Replace GDP per capita with 0 for countries that have no GDP data at all
df_cleaned_data.loc[countries_with_no_gdp, 'Renewable-electricity-generating-capacity-per-capita'] = 0

# Replace remaining missing GDP per capita values with the mean GDP per capita for each country
mean_gdp_growth = df_cleaned_data.groupby('Entity')['Renewable-electricity-generating-capacity-per-capita'].transform('mean')
df_cleaned_data['Renewable-electricity-generating-capacity-per-capita'] = df_cleaned_data['Renewable-electricity-generating-capacity-per-capita'].fillna(mean_gdp_growth)

# Verify that missing values have been replaced
print("Remaining missing GDP per capita values:", df_cleaned_data['Renewable-electricity-generating-capacity-per-capita'].isnull().sum())

# Optional: Display updated rows
print("Updated GDP per capita data:")
display(df_cleaned_data[['Entity', 'Year', 'Renewable-electricity-generating-capacity-per-capita']])

Remaining missing GDP per capita values: 0
Updated GDP per capita data:

           Entity  Year  Renewable-electricity-generating-capacity-per-capita
0     Afghanistan  2000                                               9.22
1     Afghanistan  2001                                               8.86
2     Afghanistan  2002                                               8.47
3     Afghanistan  2003                                               8.09
4     Afghanistan  2004                                               7.75
...           ...   ...                                                ...
3644     Zimbabwe  2016                                              62.88
3645     Zimbabwe  2017                                              62.33
3646     Zimbabwe  2018                                              82.53
3647     Zimbabwe  2019                                              81.40
3648     Zimbabwe  2020                                              80.61

[3648 rows x 3 columns]

In [718]:
print(df_cleaned_data.isnull().sum())

Entity                                                              0
Year                                                                0
Access to electricity (% of population)                             0
Access to clean fuels for cooking                                   0
Renewable-electricity-generating-capacity-per-capita                0
Financial flows to developing countries (US $)                      0
Renewable energy share in the total final energy consumption (%)    0
Electricity from fossil fuels (TWh)                                 0
Electricity from nuclear (TWh)                                      0
Electricity from renewables (TWh)                                   0
Low-carbon electricity (% electricity)                              0
Primary energy consumption per capita (kWh/person)                  0
Energy intensity level of primary energy (MJ/$2017 PPP GDP)         0
Value_co2_emissions_kt_by_country                                   0
Renewables (% equivalent primary energy)                            0
gdp_growth                                                          0
gdp_per_capita                                                      0
Density(P/Km2)                                                      0
Land Area(Km2)                                                      0
Latitude                                                            0
Longitude                                                           0
dtype: int64